/* Form styles  ---------------------- */

label {
  display: block;
  font-size: $font-size-small;
  padding-top: $base-padding/4;
  padding-bottom: $base-padding/6;
}

fieldset {
  border: none;
  background: transparent;
}

input,
select,
textarea {
  border: none;
  border-radius: 3px;
  -webkit-appearance: none;
  outline: 0;
  @include vendor-prefix('transition', 'all 0.1s linear');
}

input[type="checkbox"] {
  border-radius: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  border: 1px solid #ddd;
  padding: $base-padding/4;
  margin-bottom: $base-padding/4;
  width: 100%;
  max-width: 320px;
  background: #fff;
  outline: none;

  &.short { max-width: 160px !important; }
  &.med   { max-width: 240px !important; }
  &.long  { width: 320px !important; }

  &:focus {
    color: $color-off-black;
    border-color: $color-blue;
  }
}

select {
  &:disabled { color: $color-mute; }
}

textarea {
  min-height: 6em;
}

button,
input[type="submit"] {
  min-width: 90px;
  padding: $base-padding/4;
  background: $color-blue;
  font-weight: $strong;
  color: #fff;
  line-height: 1.3;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    box-shadow: inset 0 1px 3px #ddd;
    background: lighten($color-blue, 5%);
  }

  &:active {
    background: darken($color-blue, 5%);
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
}

.form-inline {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select,
  textarea {
    display: inline-block;
    width: 200px;
  }
}

.form-mobile {

  fieldset {
    margin: 0;
    padding: 0 0 $base-padding/2 0;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select,
  textarea {
    position: relative;
    margin: 0;
    max-width: 100%;
    border-radius: 0;

    top: -1px;

    &:first-child {
      top: 0;
      border-radius: 3px 3px 0 0;
    }

    &:last-child {
      top: -1px;
      border-radius: 0 0 3px 3px;
    }

    &:focus {
      z-index: 2;
    }
  }

  button,
  input[type="submit"] {
    width: 100%;
  }
}


/* Table Style ---------------------- */

.basa-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  text-align: left;

  thead {
    border-bottom: 2px solid #ccc;
    vertical-align: center;
    font-size: $font-size-small;
  }

  tbody {
    border: 1px solid #ccc;
    tr:nth-child(even) { background: #eee; }
  }

  td, th {
    font-size: inherit;
    margin: 0;
    padding: $base-padding/2 $base-padding/2;
    overflow: visible;

    &:first-child { border-left: none; }
  }

  td { border-left: 1px solid #ccc; }
}
