html,
body {
  font-size: $font-size-base;
}

html {
  background: $color-off-white;
}

// Default body styles
body {
  padding: 0;
  margin: 0;
  font-family: $typeface-primary;
  line-height: 1;
  position: relative;
  color: $color-mid-grey;
  margin: 0 auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}


a {
  color: $color-blue;
  text-decoration: underline;

  &:hover {
    color: darken($color-blue, 20%);
  }
}

/* Common Classes  ---------------------- */

.hidden-large { display: block !important; }
.hidden, .hidden-small { display: none !important; }

.left         { float: left; }
.right        { float: right; }
.text-center  { text-align: center; }
.hide         { opacity: 0; }

:target {
  @include vendor-prefix(animation, targetFade 2s);
}

.section {
  padding: $base-padding/2 0;
  margin: $base-padding/2 0 0 0;

  &:first-child, h2:first-child {
    margin-top: 0;
  }

}

/* Layout - remove this and add your own  ---------------------- */

#nav {
  overflow-y: auto !important;
  bottom: 0;
  top: 0;
  left: 0;
  right: auto;
}

.vertical-nav.download-link  {
  border: none !important;
  a {
    color: $color-red; 
    
    &:hover {
      background: $color-red;
      color: #fff;
    }
  }
}

#logo {
  padding: $base-padding/2;
  padding-bottom: $base-padding;
  background: $color-base;
  color: #fff;
  text-align: center;
  @include vendor-prefix(transition, all 0.15s);

  h1 {
    margin: 0;
    margin-left: -4px;
    color: #fff;
  }

  strong {
    font-size: 0.9em;
  }
}

.vertical-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;

  li {
    float: none;
    padding: 0;
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: $color-off-black;
    display: block;
    padding: $base-padding/4;
    font-size: $font-size-small;

    &:hover, &:active {
      background: #ddd;
    }
  }

  li.active {
    a {
      color: $color-base;
      background: $color-off-white;
      font-weight: bold;
    }
  }
}

body {
  &.scrolled {
    #nav {
      position: fixed;
      top: 0;
      left: 0;
      bottom: auto;
      width: 100%;
      background: #e6e6e6;
      z-index: 10;

      #logo { display: none; }

      ul { border-top: 3px solid $color-base; }
    }

    #content { padding-top: $base-padding*5; }
  }
  
  @include vendor-prefix(transition, background 0.5s linear);

  &.green {
    background-color: $color-base;
  }

  &.pink {
    background-color: #E8117F;
  }

  &.blue {
    background-color: #0099C7;
  }  
}

h3 {
  em {
    font-style: normal;
    color: $color-mute;
  }
}

#footer {
  p {
    font-size: $font-size-small;
  }
}

.columns-padded,
.flex-row {
  .columns, .item {
    background: $color-base;
    color: #fff;
    border-left: 1px solid $color-off-white;
    border-right: 1px solid transparent;
    padding: $base-padding/2;
    margin-bottom: $base-padding/2;
    border-radius: $base-padding/4;

    &:nth-child(n) { background: #27B987; }
    &:nth-child(2n) { background: tint(#27B987,15%); }
    &:nth-child(3n) { background: tint(#27B987,30%); }

    &:last-child {
      border-right: 1px solid $color-off-white;
    }
  }
}

.row .row {
  margin-left: 0;
  margin-right: 0;
}

.box {
  padding: $base-padding;
  background: #fff;
  border-radius: 5px;
}


// Slanted box div using scss/modules/_angled-edges.scss
.slanted-section-bottom {
  @include angled-edge('outside bottom','lower right', $color-base, 2800, 100);
  margin-bottom: 100px;
}

.slanted-inner {
  background: $color-base;
  padding: $base-padding;
  padding-bottom: 0;
  color: #fff;
  
}
