
/* Tablet and up media queries  ---------------------- */
@media #{$medium-up} {

  body {
    &.scrolled {

      #nav {
        width: 220px;

        #logo {
          padding: $base-padding/2;
          padding-bottom: $base-padding/1.5;
          text-align: left;
          display: block;

          h1 { font-size: $font-size-xlarge; }

          strong { display: none; }
        }
       }

       #content { padding-top: 0; }
    }
  }

  .section {
    padding: $base-padding 0;
    margin: $base-padding 0 0 0;
  }

  #nav {
    float: left;
    background: #e6e6e6;
    width: 220px;
    height: 100%;
    position: fixed;
    text-align: left;
  }

  #logo {
    padding: $base-padding;
    padding-bottom: $base-padding*1.5;
  }

  .vertical-nav {

     li {
      float: none;
      display: block;
     }

     a {
      padding: $base-padding/2;
      font-size: $font-size-base;
     }

  }


  #content {
    margin-left: 220px;
  }

}