
/* Colours ---------------------- */

$color-off-white: #f6f6f6;
$color-off-black: #111;
$color-mid-grey: #404040;
$color-light-grey: #666;
$color-mute: #999;
$color-grey-highlight: #F0F0F0;
$color-blue: #0085AD;

$color-yellow: #ffe168;
$color-red: #E74C3C;
$color-base: #27b987;

$social-facebook-blue: #3b5997;
$social-twitter-blue: #32ccfe;
$social-googleplus-red: #f23c26;
$social-pinterest-red: #CC2229;

/* Fonts  ---------------------- */

$typeface-primary: 'Open Sans', sans-serif;
$typeface-header: 'Open Sans', sans-serif;

$font-size-base: 1em !default;
$font-size-small: 0.875em;
$font-size-medium: 1.25em;
$font-size-large: 1.5em;
$font-size-xlarge: 2.25em;
$font-size-xxlarge: 3.625em;

$normal: 400;
$strong: 700;

/* Mixins ---------------------- */

.no-list { @include blank-list; }

.inline-list {
  @include blank-list;

  li {
    display: inline-block;
  }
}

/*
Set the aspect ratio of an object before it loads. Example:
.ratio-sixteen-nine {
  @include aspect-ratio(1600, 900);
  background: #eee url(img.svg) no-repeat center center;
}

<figure class="ratio-sixteen-nine">
  <img src="image.jpg" alt="">
</figure>
*/

@mixin aspect-ratio($width, $height) {
  position: relative;
  padding-bottom: ($height / $width) * 100%;
  img,
  video,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

