/*!
Site Name:      Basa
Site URI:     	http://balsamade.com/projects/basa
Description:    Sean's Base Framework
Author:         Sean Ockert @seanockert
Author URI:     http://balsamade.com
Version:        0.6
*/

// Base Config
@import "reset"; /* Browser resets - no need to edit */
@import "settings"; /* Mixins and Media queries - no need to edit */
@import "variables"; /* Set the base colours and fonts here */

@import "grid/grid"; /* Zurb Foundation grid */
@import "grid/block-grid"; /* Zurb Foundation block grid */
@import "grid/equal-grid"; 
@import "grid/flex-video"; /* Embed responsive videos */

// Styling
@import "global"; /* Replace code in here with your own */

@import "modules/forms";
@import "modules/type";
@import "modules/buttons";
@import "modules/browser-frame"; /* Browser frame for displaying portfolio items */
@import "modules/pricing-plans"; /* For displaying tiered pricing */

// Media Queries
@import "small";
@import "medium";
@import "large";

// Plugins
@import "plugins/lightbox";
@import "plugins/responsive-nav";
@import "plugins/social-buttons";
@import "plugins/accordion";
@import "plugins/swipe";

// Animations
@import "animation-mixins.scss";
@import "animations";
