/*!
Site Name:      Basa
Site URI:     	http://balsamade.com/projects/basa
Description:    Sean's Base Framework
Author:         Sean Ockert @seanockert
Author URI:     http://balsamade.com
Version:        0.5
*/

// Base Config
@import "reset"; /* Browser resets - no need to edit */
@import "settings"; /* Mixins and Media queries - no need to edit */
@import "variables"; /* Set the base colours and fonts here */
@import "grid"; /* Zurb Foundation grid */
@import "equal-grid";
//@import "block-grid";
@import "flex-video"; /* Embed responsive videos */

// Styling
@import "global"; /* Replace code in here with your own */
@import "forms";
@import "type";
@import "buttons";
@import "frame"; /* Browser frame for displaying portfolio items */

// Media Queries
@import "small";
@import "medium";
@import "large";

// Plugins
@import "plugins/lightbox";
@import "plugins/responsive-nav";
@import "plugins/social-buttons";
@import "plugins/accordion";
@import "plugins/swipe";

// Animations
@import "bourbon-animation.scss";
@import "animations";
