<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Smooth Scroll</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * { box-sizing: border-box }
    html, body { margin: 0; padding: 0;}

    #anchor1, #anchor2, #anchor3 {
      height: 600px;
      margin: 0;
    }

    #anchor1 { background: #eee; }
    #anchor2 { background: #bbb; }
    #anchor3 { background: #aaa; }
  </style>

</head>

<body>


<h1>Smooth Scroll</h1>

<p>
<a href="#anchor1">Scroll to Anchor 1</a><br>
<a href="#anchor2">Scroll to Anchor 2</a><br>
<a href="#anchor3">Scroll to Anchor 3</a><br>
</p>


<h3 id="anchor1">Anchor 1</h3>
<h3 id="anchor2">Anchor 2</h3>
<h3 id="anchor3">Anchor 3</h3>

<h2>How to use</h2>
<ol>
  <li>Attach the script <a href="../../js/plugins/smooth-scroll.js"><code>js/plugins/smooth-scroll.js</code></a></li>
  <li>Voila! Anchor links will now scroll smoothly.</li>
</ol>

<script src="../../js/plugins/smooth-scroll.js"></script>


</body>
</html>
