<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - InstantClick</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * { box-sizing: border-box }
    html, body { margin: 20px; padding: 0; font-family: sans-serif; }
  </style>
  <link rel="stylesheet" href="../../css/prism.css" type="text/css"> <!-- For code highlighting only -->  
</head>

<body>

<h1>InstantClick</h1>

Preloads the page behind a links you are likely to click on to dramatically speed up the website. Only reloads the <code>&lt;body&gt;</code> and <code>&lt;title&gt;</code> content. Read the documentation before using.

<p>
  <a href="second-page.html">Click me for a fast load</a>
</p>

<h2>How to use</h2>
<ol>
  <li>Attach the script <a href="../../js/plugins/instantclick.min.js"><code>js/plugins/instantclick.min.js</code></a></li>
  <li>Init the plugin <code>InstantClick.init();</code></li>
</ol>

<a href="http://instantclick.io/">View the documentation</a>

<script src="../../js/plugins/instantclick.min.js"></script>
<script data-no-instant>InstantClick.init();</script>

<script src="../../js/vendors/prism.js"></script>  <!-- For code highlighting only -->
</body>
</html>
