<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Flowtype</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * { box-sizing: border-box }
    html, body { margin: 20px; padding: 0; font-family: sans-serif; }
  </style>
  <link rel="stylesheet" href="../../css/prism.css" type="text/css"> <!-- For code highlighting only -->
</head>

<body>


<h1>Flowtype</h1>

<div id="flowtype">
  <h2>What does FlowType.JS do?</h2>
  <p>Ideally, the most legible typography contains between 45 and 75 characters per line. This is difficult to accomplish for all screen widths with only CSS media-queries. FlowType.JS eases this difficulty by changing the font-size and subsequently the line-height based on a specific element's width. This allows for a perfect character count per line at any screen width.</p>
</div>
<div class="clear"></div>

<h2>How to Use</h2>
Javascript: <a href="../../js/plugins/flowtype.native.js">flowtype.native.js</a><br>
<p><a href="http://simplefocus.com/flowtype">Read Documentation</a></p>

<pre class="language-markup"><code>
&lt;script src="js/plugins/flowtype.native.js"&gt;&lt;/script&gt;

&lt;div id="flowtype"&gt;
  Text inside here will be resized accordingly.
&lt;/div&gt;

&lt;script&gt;
  // Add Flowtype to the 'flowtype' element
  var flowtypeElem = document.getElementById('flowtype');
  window.flowtype( flowtypeElem, {
    minFont : 16,
    maxFont : 48,
    fontRatio : 36
  });
&lt;/script&gt;
</code></pre>



<script src="../../js/plugins/flowtype.native.js"></script>

<script>
  // Add Flowtype to the 'flowtype' element
  var flowtypeElem = document.getElementById('flowtype');
  window.flowtype( flowtypeElem, {
    minFont : 16,
    maxFont : 48,
    fontRatio : 36
  });
</script>


<script src="../../js/vendors/prism.js"></script>  <!-- For code highlighting only -->

</body>
</html>
