<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Lightbox</title>
  <style>
    * { box-sizing: border-box }
    html, body { margin: 0; padding: 0;}
  </style>
  <link rel="stylesheet" href="components-lightbox.css" type="text/css">

</head>

<body>

<h1>Lightbox</h1>
<a href="http://placehold.it/640x280" rel="lightbox"><img src="http://placehold.it/128x128/27B987/ffffff&text=Click+Me"></a>
<a href="http://placehold.it/640x280" rel="lightbox"><img src="http://placehold.it/128x128/27B987/ffffff&text=Click+Me"></a>

<h2>How to use</h2>
<ol>
  <li>Attach the script <a href="../../js/plugins/lightbox.js"><code>js/plugins/lightbox.js</code></a></li>
  <li>For each picture you want to expand in a lightbox, attach to the anchor link: <code>rel="lightbox"</code></li>
  <li>You can set a breakpoint. Below this lightbox will simply load the image. Default 568px.</li>
</ol>

<script src="../../js/plugins/lightbox.js"></script>


</body>
</html>
