<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Lightbox</title>
  <style>
    * { box-sizing: border-box }
    html, body { margin: 20px; padding: 0; font-family: sans-serif; }
    a { text-decoration: none; }
  </style>
  <link rel="stylesheet" href="../../css/prism.css" type="text/css"> <!-- For code highlighting only -->
  <link rel="stylesheet" href="components-lightbox.css" type="text/css">

</head>

<body>

<h1>Lightbox</h1>
<p>A simple lightbox with no dependencies.</p>
<a href="http://placehold.it/640x280" rel="lightbox">
  <img src="http://placehold.it/128x128/27B987/ffffff&text=Click+Me">
</a>
<a href="http://placehold.it/640x280" rel="lightbox">
  <img src="http://placehold.it/128x128/27B987/ffffff&text=Click+Me">
</a>

<h2>How to use</h2>
Javascript: <a href="../../js/plugins/lightbox.js">lightbox.js</a><br>

<pre class="language-markup"><code>
&lt;script src="js/plugins/lightbox.js"&gt;&lt;/script&gt;

&lt;!-- Add rel="lightbox" to the anchor link to open the full image in a lightbox: --&gt;
&lt;a href="http://placehold.it/640x280" rel="lightbox"&gt;
  &lt;img src="http://placehold.it/128x128"&gt;
&lt;/a&gt;
</code></pre>

<script src="../../js/plugins/lightbox.js"></script>
<script src="../../js/vendors/prism.js"></script>  <!-- For code highlighting only -->
</body>
</html>
