<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Smooth Scroll</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * { box-sizing: border-box }
    html, body { margin: 20px; padding: 0; font-family: sans-serif; }

    #anchor1, #anchor2, #anchor3 {
      height: 600px;
      margin: 0;
    }

    #anchor1 { background: #eee; }
    #anchor2 { background: #bbb; }
    #anchor3 { background: #aaa; }

    .scrolled .fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }

    #main-nav .active a {
      background: #000;
      color: #fff;
    }
  </style>
  <link rel="stylesheet" href="../../css/prism.css" type="text/css"> <!-- For code highlighting only -->
</head>

<body>


<h1>Waypoints</h1>

<p>Fixed menu highlights the active item. Appends <code>class="scrolled"</code> to the body when scrolling starts.</p>

<ul class="fixed" id="main-nav">
  <li><a href="#anchor1">Scroll to Anchor 1</a></li>
  <li><a href="#anchor2">Scroll to Anchor 2</a></li>
  <li><a href="#anchor3">Scroll to Anchor 3</a></li>
</ul>


<h3 id="anchor1">Anchor 1</h3>
<h3 id="anchor2">Anchor 2</h3>
<h3 id="anchor3">Anchor 3</h3>

<h2>How to use</h2>
Dependency: <a href="../../js/vendors/classie.js">classie.js</a><br>
Javascript: <a href="../../js/plugins/waypoints.min.js">waypoints.min.js</a>

<pre class="language-markup"><code>
&lt;script src="js/plugins/waypoints.min.js"&gt;&lt;/script&gt;
&lt;style&gt;
  /*
  * Script appends class="scrolled" to the body when scrolling starts.
  * So we can fix the nav to the top of the page
  */
  .scrolled .fixed {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
  }
&lt;/style&gt;

&lt;!-- Navigation links to anchors on the same page. Give it the id="main-nav" --&gt;
&lt;ul class="fixed" id="main-nav"&gt;
  &lt;li&gt;&lt;a href="#anchor1"&gt;Scroll to Anchor 1&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#anchor2"&gt;Scroll to Anchor 2&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#anchor3"&gt;Scroll to Anchor 3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;!-- Split the page into sections --&gt;
&lt;div id="anchor1"&gt;Anchor 1&lt;/div&gt;
&lt;div id="anchor2"&gt;Anchor 2&lt;/div&gt;
&lt;div id="anchor3"&gt;Anchor 3&lt;/div&gt;

&lt;script&gt;
// Apply a 'scrolled' class to the body when the page starts scrolling
var wScrolled = new Waypoint({
  element: document.querySelector('body'),
  handler: function(direction) {
    if (direction == 'down') {
      body.className = ' scrolled';
    } else {
      body.className = ''; 
    }
  },
  offset: -80 
})

// Apply an 'active' class when scrolled to that anchor
var wAnchor1 = new Waypoint({
  element: document.getElementById('anchor1'),
  handler: function(direction) {
    this.element.className = ' active';
  },
  offset: 20 
})
&lt;/script&gt;
</code></pre>

<script src="../../js/plugins/waypoints.min.js"></script>
<script>
var body = document.querySelector('body');
var mainNav = document.getElementById('main-nav');

var wScrolled = new Waypoint({
  element: body,
  handler: function(direction) {
    if (direction == 'down') {
      body.className = ' scrolled';
    } else {
      body.className = ''; 
    }
  },
  offset: -80 
})

var wAnchor1 = new Waypoint({
  element: document.getElementById('anchor1'),
  handler: function(direction) {
    var nav = mainNav.children;
    nav[1].className = nav[2].className = '';
    nav[0].className = ' active';
  },
  offset: 20 
})

var wAnchor2 = new Waypoint({
  element: document.getElementById('anchor2'),
  handler: function(direction) {
    var nav = mainNav.children;
    nav[0].className = nav[2].className = '';
    nav[1].className = ' active';
  },
  offset: 20 
})

var wAnchor3 = new Waypoint({
  element: document.getElementById('anchor3'),
  handler: function(direction) {
    var nav = mainNav.children;
    nav[0].className = nav[1].className = '';
    nav[2].className = ' active';
  },
  offset: 20 
})
</script>

<script src="../../js/vendors/prism.js"></script>  <!-- For code highlighting only -->
</body>
</html>
