<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Type.js</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * { box-sizing: border-box }
    html, body { margin: 0; padding: 0; width: 100%; font-family: sans-serif; }
    body { padding: 20px; }
    section { margin: 0 auto; }
    
    p, li, h1, dd {
      max-width: 40em;
      line-height: 1.5;
      font-size: 16px;
      min-font-size: 16px;
      max-font-size: 28px;
      rag-adjust: small-words;
      widow-adjust: padding-right;
    }
    
    section {
      /*box-shadow:0 17px 50px 0 rgba(0,0,0,.19); */
    }
  </style>
  <link rel="stylesheet" href="../../css/prism.css" type="text/css"> <!-- For code highlighting only -->
</head>

<body>

  <h1>Type.js</h1>
  <p>Allows you to write new CSS properties to take finer typographic control of type styles on the web. <a href="http://typejs.org/">Read Documentation</a></p>
  
  <h2>How to Use</h2>
  Javascript: <a href="../../js/plugins/type-improvements.min.js">type-improvements.min.js</a>

  <section>
    <h3>Example Text</h3>
    <p>Notice that the rags are improved in these paragraphs. Artisan 90's shabby chic, blog art party brunch VHS Vice normcore you probably haven't heard of them.</p>
    <p>Readymade Godard pour-over, PBR lumbersexual cliche selvage pug bespoke. Cornhole Shoreditch typewriter four dollar toast. DIY vegan tote bag sartorial, beard biodiesel four dollar toast blog. Sriracha roof party church-key, artisan McSweeney's cronut XOXO before they sold out dreamcatcher tote bag pickled. Scenester fanny pack beard kogi, Carles PBR&B mlkshk keytar. Before they sold out selvage Intelligentsia iPhone direct trade cornhole. Single-origin coffee chia master cleanse, scenester Williamsburg Etsy pickled freegan lo-fi street art bitters pour-over.</p>
    <p>Pour-over single-origin coffee gluten-free High Life squid brunch. Tumblr Portland brunch, forage four dollar toast bespoke sriracha yr viral cred organic wolf. </p>
    <p>Direct trade skateboard Banksy, chambray pickled actually drinking vinegar hoodie dreamcatcher wolf Thundercats pour-over Intelligentsia plaid Odd Future.</p>

  </section>

  <script src="../../js/plugins/type-improvements.min.js" type="text/javascript"></script>
  <script src="../../js/vendors/prism.js"></script>  <!-- For code highlighting only -->
</body>
</html>
