<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Modal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * { box-sizing: border-box }
    html, body { margin: 0; padding: 0; font-family: sans-serif; }
    
    body {
      padding: 1rem 0;
    }
    
    h1 {
      margin: 1rem;
    }
  </style>
  <link rel="stylesheet" href="../../css/prism.css" type="text/css"> <!-- For code highlighting only -->
  <link rel="stylesheet" href="components-fullwidth-image.css" type="text/css">
</head>

<body>

<main>
 
  <h1>Fullwidth Image in Fixed Container</h1>
  <p>Stretch an image the full width of the page while keeping the text in a centered column.</p> 
   
  <p>Kielbasa bacon boudin swine cow tri-tip shankle. Ham hock flank landjaeger porchetta, strip steak t-bone short loin beef chuck tri-tip kielbasa bresaola prosciutto hamburger bacon. Cow t-bone bresaola, swine ham bacon shankle ground round. Turkey pancetta sirloin, beef spare ribs boudin biltong pork frankfurter meatloaf jerky meatball bacon porchetta jowl.</p>
 
  <figure class='full-width'>
    <img src="https://placeimg.com/800/200/nature">
    <figcaption>Caption for this image here</figcaption>
  </figure>
  
  <p>Kielbasa bacon boudin swine cow tri-tip shankle. Ham hock flank landjaeger porchetta, strip steak t-bone short loin beef chuck tri-tip kielbasa bresaola prosciutto hamburger bacon. Cow t-bone bresaola, swine ham bacon shankle ground round. Turkey pancetta sirloin, beef spare ribs boudin biltong pork frankfurter meatloaf jerky meatball bacon porchetta jowl.</p>
  
  <p>Kielbasa bacon boudin swine cow tri-tip shankle. Ham hock flank landjaeger porchetta, strip steak t-bone short loin beef chuck tri-tip kielbasa bresaola prosciutto hamburger bacon. Cow t-bone bresaola, swine ham bacon shankle ground round. Turkey pancetta sirloin, beef spare ribs boudin biltong pork frankfurter meatloaf jerky meatball bacon porchetta jowl.</p>
  
  <p>Kielbasa bacon boudin swine cow tri-tip shankle. Ham hock flank landjaeger porchetta, strip steak t-bone short loin beef chuck tri-tip kielbasa bresaola prosciutto hamburger bacon. Cow t-bone bresaola, swine ham bacon shankle ground round. Turkey pancetta sirloin, beef spare ribs boudin biltong pork frankfurter meatloaf jerky meatball bacon porchetta jowl.</p>
</main>


</body>
</html>
