<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Accordion</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * { box-sizing: border-box }
    html, body { margin: 20px; padding: 0; font-family: sans-serif; }
  </style>

  <link rel="stylesheet" href="../../css/prism.css" type="text/css"> <!-- For code highlighting only -->
  <link rel="stylesheet" href="components-accordion.css" type="text/css">
</head>

<body>


<h1>Accordion</h1>

<ul id="accordion">
  <li class="q">
    <dt id="question-1">
      <h2>Question 1</h2>
    </dt>
    <dd>
      <p>Answer 1</p>
      <small><a href="#question-1">Permalink</a></small>
    </dd>
  </li>
  <li class="q">
    <dt id="question-2">
      <h2>Question 2</h2>
    </dt>
    <dd>
      <p>Answer 2</p>
      <small><a href="#question-2">Permalink</a></small>
    </dd>
  </li>
</ul>

<h2>How to Use</h2>

Javscript: <a href="../../js/plugins/accordion.js">accordion.js</a><br>
SASS: <a href="../../scss/plugins/_accordion.scss">accordion.scss</a>

<pre class="language-markup"><code>
&lt;link rel="stylesheet" href="css/accordion.css" type="text/css"&gt;
&lt;script src="js/plugins/accordion.js"&gt;&lt;/script&gt;

&lt;ul id="accordion"&gt;
  &lt;li class="q"&gt;
    &lt;dt id="question-1"&gt;
      &lt;h2&gt;Question 1&lt;/h2&gt;
    &lt;/dt&gt;
    &lt;dd&gt;
      Answer 1
    &lt;/dd&gt;
  &lt;/li&gt;
  &lt;li class="q"&gt;
    &lt;dt id="question-2"&gt;
      &lt;h2&gt;Question 2&lt;/h2&gt;
    &lt;/dt&gt;
    &lt;dd&gt;
      Answer 2
    &lt;/dd&gt;
  &lt;/li&gt;
  ...
&lt;/ul&gt;
</code></pre>



<script src="../../js/plugins/accordion.js"></script>
<script src="../../js/vendors/prism.js"></script>  <!-- For code highlighting only -->



</body>
</html>
