<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Swipe Slider</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * { box-sizing: border-box }
    html, body { margin: 20px; padding: 0; font-family: sans-serif; }

    #swipe div {
      background: #eee;
      text-align: center;
      height: 300px;
      line-height: 300px;
      font-size: 4em;
      font-family: sans-serif;
      color: #666;
    }

    #swipe div:nth-child(even) {
      background: #999;
    }
  </style>
  <link rel="stylesheet" href="../../css/prism.css" type="text/css"> <!-- For code highlighting only -->
  <link rel="stylesheet" href="components-swipe.css" type="text/css">
</head>

<body>

<h1>Swipe Slider</h1>

<div id="swipe" class="swipe">
  <div class="swipe-wrap">
    <div><b>1</b></div>
    <div><b>2</b></div>
    <div><b>3</b></div>
  </div>
</div>


<h2>How to Use</h2>
Javascript: <a href="../../js/plugins/swipe.min.js">swipe.min.js</a><br>
SASS: <a href="../../scss/plugins/_swipe.scss">swipe.scss</a><br>
<p><a href="https://github.com/thebird/Swipe">Read Documentation</a></p>

<pre class="language-markup"><code>
&lt;link rel="stylesheet" href="css/swipe.css" type="text/css"&gt;
&lt;script src="js/plugins/swipe.min.js"&gt;&lt;/script&gt;

&lt;!-- Wrap the slider component in a div like so: --&gt;
&lt;div id="swipe" class="swipe"&gt;
  &lt;div class="swipe-wrap"&gt;
    &lt;div&gt;&lt;b&gt;1&lt;/b&gt;&lt;/div&gt; &lt;!-- Replace each of these with slide content --&gt;
    &lt;div&gt;&lt;b&gt;2&lt;/b&gt;&lt;/div&gt;
    &lt;div&gt;&lt;b&gt;3&lt;/b&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;script&gt;
  // Attach the plugin to the element with id='swipe'
  var elem = document.getElementById('swipe');
  window.slider = Swipe(elem, {
    startSlide: 0,
    auto: 1500,
    continuous: true,
    // disableScroll: true,
    // stopPropagation: true,
    // callback: function(index, element) {},
    // transitionEnd: function(index, element) {}
  });
&lt;/script&gt;
</code></pre>


<script src="../../js/plugins/swipe.min.js"></script>

<script>
var elem = document.getElementById('swipe');
window.slider = Swipe(elem, {
  startSlide: 0,
  auto: 1500,
  continuous: true,
  // disableScroll: true,
  // stopPropagation: true,
  // callback: function(index, element) {},
  // transitionEnd: function(index, element) {}
});

</script>


<script src="../../js/vendors/prism.js"></script>  <!-- For code highlighting only -->
</body>
</html>
