<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <title>Homepage Layout | Basa - base framework</title>

  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel="stylesheet" href="../css/style.css" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,700italic' rel='stylesheet' type='text/css'>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <link rel="stylesheet" href="css/ie.css">
  <![endif]-->

  <style>
    .nav a {
      display: block;
      padding: 24px 12px;
    }

    #header h1 {
      margin: 0;
      line-height: 0;
    }

    .hero {
      background: #eee;
      margin-top: 0;
      padding: 48px;
    }

    .hero h2 {
      font-size: 4em;
      line-height: 1.1;
    }

    .dark {
      background: #242c20;
      color: #fff;
    }

    .dark h3 {
      color: #fff;
    }
  </style>

</head>

<body>
  <!--[if lt IE 8]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->


  <div id="header">
    <div class="row clearfix">
      <div class="columns large-2 medium-3">
        <h1><img src="http://placehold.it/300x130&text=Your Logo"></h1>
      </div>

      <div class="columns large-10">
        <ul class="inline-list right nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="hero section">
    <div class="row clearfix">
      <div class="columns large-6">
        <h2>Start your free online store.</h2>
        <p>You’ll be up and running within minutes without spending a dime. Join our community of over 60,000 shops and start your online business today.</p>
        <a href="" class="button red">Get Started</a>
        <a href="" class="button">Learn More</a>
      </div>
      <div class="columns large-6">
        <img src="http://placehold.it/640x340&text=Impressive image">
      </div>
    </div>
  </div>

  <div id="main">
    <div class="section">
      <div class="row clearfix">

        <div class="columns large-4">
          <img src="http://placehold.it/640x320">
          <h3>Content Creation</h3>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <a href="" class="button">Learn More</a>
        </div>

        <div class="columns large-4">
          <img src="http://placehold.it/640x320">
          <h3>Big Balloons</h3>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <a href="" class="button">Learn More</a>
        </div>

        <div class="columns large-4">
          <img src="http://placehold.it/640x320">
          <h3>Lovely Wellington Boots</h3>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <a href="" class="button">Learn More</a>
        </div>
      </div>
    </div>

    <div class="section dark">
      <div class="row clearfix">

        <div class="columns large-4 text-center">
          <img src="http://placehold.it/220x220/333333/999999">
        </div>

        <div class="columns large-8">
          <h3>Join the Club</h3>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <form class="form-inline">
            <input type="email" placeholder="plunderpirate@bootymail.com" class="long">
            <input type="submit" value="Subscribe">
          </form>
          <p>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://google.com" class="social facebook"><span>Share</span><b></b></a>
            <a href="https://twitter.com/home?status=Your%20tweet%20%23awesome" class="social twitter"><span>Tweet</span><b></b></a>   
          </p> 

      </div>
    </div>

  </div>

  <div id="footer" class="section">
    <div class="row clearfix text-center">
      <p>&copy; 2015 Basa Framework. Work in Progress by <a href="http://balsamade.com">Seano</a></p>
    </div>
  </div>

  <script src="../js/plugins/responsive-nav.min.js"></script>
  <script src="../js/plugins/smooth-scroll.js"></script>
  <script src="../js/plugins/social-buttons.js"></script>

</body>
</html>
