<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Modal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * { box-sizing: border-box }
    html, body { margin: 20px; padding: 0; font-family: sans-serif; }
  </style>
  <link rel="stylesheet" href="../../css/prism.css" type="text/css"> <!-- For code highlighting only -->
  <link rel="stylesheet" href="components-modal.css" type="text/css">
</head>

<body>

<h1>This content was loaded by AJAX</h1>
<p>Any content in the <code>&lt;head&gt;</code> is stripped</p>

<h2>How to use</h2>
CSS: <a href="components-modal.css">components-modal.css</a><br>
Javascript: <a href="../../js/plugins/basa-modal.js">js/plugins/modal.js</a><br>
JS dependency: <a href="../../js/vendors/classie.js">js/vendors/classie.js</a>

<pre class="language-markup"><code>
&lt;link rel="stylesheet" href="components-modal.css" type="text/css"&gt;
&lt;script src="js/plugins/basa-modal.js"&gt;&lt;/script&gt;

&lt;!-- Add a link to open the modal with the anchor as the modal ID --&gt;
&lt;a href="#modal-1" class="modal-link"&gt;Open Modal&lt;/a&gt;

&lt;!-- Modal is hidden until link is clicked --&gt;
&lt;div id="modal-1" class="modal" aria-hidden="true"&gt;
  &lt;p&gt;Content&lt;/p&gt;
  &lt;a href="#" class="modal-close close"&gt;&#x2715;&lt;/a&gt;
&lt;/div&gt;

&lt;div class="modal-overlay" class="modal-close&gt;&lt;/div&gt;

&lt;script src="js/vendors/classie.js"&gt;&lt;/script&gt;
&lt;!-- Add the following script to control opening and closing --&gt;
</code></pre>

<br><br><br><br>
More
<br><br><br><br>
Content

</body>
</html>
