<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Modal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * { box-sizing: border-box }
    html, body { margin: 0; padding: 0;}
  </style>
  <link rel="stylesheet" href="components-modal.css" type="text/css">
</head>

<body>


<h1>Modal Popup</h1>

<a href="#modal-text">Open Modal</a>
<section class="modal--fade" id="modal-text" tabindex="-1"
      role="dialog" aria-labelledby="modal-label" aria-hidden="true">

  <div class="modal-inner">
    <div class="modal-content">
      <p>Disrupt brunch keffiyeh chillwave Williamsburg. Excepteur food truck thundercats voluptate ethical, whatever in craft beer leggings proident Vice pour-over polaroid. Terry Richardson hoodie Truffaut Wes Anderson kale chips, synth nostrud elit sint id cillum bespoke. Semiotics synth Cosby sweater brunch beard, lo-fi esse Godard Echo Park sapiente mollit wayfarers. Cillum lomo cliche, YOLO Cosby sweater fixie tumblr eu umami Schlitz assumenda culpa. Chillwave church-key plaid, labore nulla flannel kogi Tonx single-origin coffee cred ex sustainable. Mlkshk ennui polaroid post-ironic sunt, keytar semiotics sriracha fashion axe labore church-key art party.</p>
    </div>
  </div>

  <a href="#!" class="modal-close" title="Close this modal" data-close="Close"
      data-dismiss="modal">?</a>
</section>
<script src="modal.js"></script>


</body>
</html>
