<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Modal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * { box-sizing: border-box }
    html, body { margin: 20px; padding: 0; font-family: sans-serif; }
  </style>
  <link rel="stylesheet" href="../../css/prism.css" type="text/css"> <!-- For code highlighting only -->
  <link rel="stylesheet" href="components-modal.css" type="text/css">
</head>

<body>


<h1>Modal Popup</h1>
<p>A responsive modal box with overlay and close button.</p>

<a href="#modal-1" class="modal-link">Open a Modal</a><br>
<a href="ajax.html" class="modal-ajax button" data-no-instant>Open an AJAX Modal</a><br>

<!-- Modal -->
<div class="modal-wrap"><span>
  <div id="modal-1" class="modal" aria-hidden="true">
    <a href="#" class="modal-close close">&#x2715;</a>
    <h2>New Stuff</h2>
    <p><strong>1. Click 'View Features' to see past Features.</strong><br> Features are grouped by game. A marker indicates how many places that game was featured. Hover over each game for more details. <em>If you see any of our games being featured, please add them to the spreadsheet.</em></p>
    <p><strong>2. Drag and drop a project on the calendar to change its day.</strong><br>Drop on previous or next month links to move project between month.</p>
  </div>
</span></div>

<div class="modal-wrap"><span>
  <div id="modal-ajax" class="modal" aria-hidden="true">
    <a href="#" class="modal-close close">&#x2715;</a><div id="modal-content"><div class="loading">Loading...</div></div>
  </div>
</span></div>

<div id="modal-overlay" class="modal-close"></div>
<!-- /Modal -->


<h2>How to use</h2>
CSS: <a href="components-modal.css">components-modal.css</a><br>
Javascript: <a href="../../js/plugins/basa-modal.js">js/plugins/modal.js</a><br>
JS dependency: <a href="../../js/vendors/classie.js">js/vendors/classie.js</a>

<pre class="language-markup"><code>
&lt;link rel="stylesheet" href="components-modal.css" type="text/css"&gt;
&lt;script src="js/plugins/basa-modal.js"&gt;&lt;/script&gt;

&lt;!-- Add a link to open the modal with the anchor as the modal ID --&gt;
&lt;a href="#modal-1" class="modal-link"&gt;Open Modal&lt;/a&gt;

&lt;!-- Modal is hidden until link is clicked --&gt;
&lt;div id="modal-1" class="modal" aria-hidden="true"&gt;
  &lt;p&gt;Content&lt;/p&gt;
  &lt;a href="#" class="modal-close close"&gt;&#x2715;&lt;/a&gt;
&lt;/div&gt;

&lt;div class="modal-overlay" class="modal-close&gt;&lt;/div&gt;

&lt;script src="js/vendors/classie.js"&gt;&lt;/script&gt;
&lt;!-- Add the following script to control opening and closing --&gt;
</code></pre>

<script src="../../js/vendors/prism.js"></script>  <!-- For code highlighting only -->

<script src="../../js/vendors/classie.js"></script>
<script src="../../js/plugins/basa-modal.js"></script>
<script src="../../js/plugins/basa-modal-ajax.js"></script>


</body>
</html>
