/*! Responsive-nav.js 1.0.25 by @viljamis. Animation by Bennett Feely http://sarasoueidan.com/blog/navicon-transformicons */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  width: 100%;
  display: block;
  list-style: none; }

.nav-collapse li {
  width: 100%;
  display: block; }

.nav-collapse.opened {
  max-height: 9999px; }

.nav-collapse.disable-pointer-events {
  pointer-events: none !important; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.columns.nav-collapse {
  padding: 0; }

button.nav-menu {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 6px;
  box-shadow: none;
  min-width: 10px; }

.lines {
  display: inline-block;
  width: 2rem;
  height: 0.28571rem;
  background: #222;
  border-radius: 0.14286rem;
  transition: 0.2s;
  position: relative; }

  .lines:before, .lines:after {
    display: inline-block;
    width: 2rem;
    height: 0.28571rem;
    background: #222;
    border-radius: 0.14286rem;
    transition: 0.2s;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 0.14286rem center; }

  .lines:before {
    top: 0.5rem; }

  .lines:after {
    top: -0.5rem; }


button.nav-menu.x.close .lines {
  background: transparent; }

  button.nav-menu.x.close .lines:before, button.nav-menu.x.close .lines:after {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 2rem; }

  button.nav-menu.x.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg); }

  button.nav-menu.x.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }


@media only screen and (min-width: 40em) {

  .js .nav-collapse {
    position: relative; }

    .js .nav-collapse.closed {
      max-height: none; }


  .nav-menu, .nav-toggle {
    display: none; }


  .nav-collapse {
    display: block; }

    .nav-collapse ul {
      position: relative;
      top: auto;
      right: auto;
      display: block;
      margin: 0;
      width: 100%;
      background: none; }

    .nav-collapse li {
      float: none;
      display: inline; }

      .nav-collapse li a {
        float: none;
        display: inline-block;
        width: auto;
        padding: 12px; } 
      
}
