<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Responsive Nav</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * { box-sizing: border-box }
    html, body { margin: 20px; padding: 0; font-family: sans-serif; }
  </style>
  <link rel="stylesheet" href="../../css/prism.css" type="text/css"> <!-- For code highlighting only -->
  <link rel="stylesheet" href="components-responsive-nav.css" type="text/css">

</head>

<body>

<h1>Responsive Navigation Menu</h1>
Resize this page to see the menu adapt.<br>

<button class="open nav-menu x" type="button" role="button" id="menu" aria-label="Toggle Navigation">
  <span class="lines"></span>
</button>

<nav id="responsive-nav" class="nav-collapse">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

<h2>How to use</h2>
Javascript: <a href="../../js/plugins/responsive-nav.min.js">responsive-nav.min.js</a><br>
SASS: <a href="../../scss/plugins/_responsive-nav.scss">responsive-nav.scss</a>
<p><a href="https://github.com/viljamis/responsive-nav.js">Read Documentation</a></p>

<pre class="language-markup"><code>
&lt;link rel="stylesheet" href="css/responsive-nav.css" type="text/css"&gt;
&lt;script src="js/plugins/responsive-nav.min.js"&gt;&lt;/script&gt;

&lt;!-- This hamburger button will show on mobile instead of the full menu: --&gt;
&lt;button class=&quot;open nav-menu x&quot; type=&quot;button&quot; role=&quot;button&quot; id=&quot;menu&quot; aria-label=&quot;Toggle Navigation&quot;&gt;
  &lt;span class=&quot;lines&quot;&gt;&lt;/span&gt;
&lt;/button&gt;

&lt;!-- Wrap the navigation in a list like so: --&gt;
&lt;nav id=&quot;responsive-nav&quot; class=&quot;nav-collapse&quot;&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Services&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;About&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;

&lt;script&gt;
  // Basic usage - provides a Menu link
  //var navigation = responsiveNav('#responsive-nav');

  // Advanced usage with custom button
  var navigation = responsiveNav('#responsive-nav', {
    transition: 250,
    label: 'Menu',
    insert: 'before',
    customToggle: '#menu',
    openPos: 'relative',
    open: function () {
      var menu = document.getElementById("menu");
      menu.className=menu.className.replace(/(^|\s)open(\s|$)/, 'close ');
    },
    close: function () {
      var menu = document.getElementById("menu");
      menu.className=menu.className.replace(/(^|\s)close(\s|$)/, 'open ');
    }
  });
&lt;/script&gt;
</code></pre>
  
  
<script src="../../js/plugins/responsive-nav.min.js"></script>
<script>
  // Basic usage - provides a Menu link
  //var navigation = responsiveNav('#responsive-nav');

  // Advanced usage with custom button
  var navigation = responsiveNav('#responsive-nav', {
    transition: 250,
    label: 'Menu',
    insert: 'before',
    customToggle: '#menu',
    openPos: 'relative',
    open: function () {
      var menu = document.getElementById("menu");
      menu.className=menu.className.replace(/(^|\s)open(\s|$)/, 'close ');
    },
    close: function () {
      var menu = document.getElementById("menu");
      menu.className=menu.className.replace(/(^|\s)close(\s|$)/, 'open ');
    }
  });

</script>

<script src="../../js/vendors/prism.js"></script>  <!-- For code highlighting only -->
</body>
</html>
