<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Equal Grid</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * { box-sizing: border-box }
    html, body { margin: 0; padding: 0;}
  </style>
  <link rel="stylesheet" href="components-equal-grid.css" type="text/css">
</head>

<body>


<h1>Equal Grid</h1>

<div class="half">
  <a href="#section-grid" class="inner">
    <div class="v-align">
        <h2>Clickable Box 1</h2>
    </div>
  </a>
</div>

<div class="half two" style="background: #ddd;">
  <div class="inner">
    <div class="v-align">
        <h2>Box 2</h2>
    </div>
  </div>
</div>

<div class="half two" style="background: #ccc;">
  <div class="inner">
    <div class="v-align">
        <h2>Box 3</h2>
    </div>
  </div>
</div>

<div class="clear"></div>

<div class="half two" style="background: #ccc;">
  <div class="inner">
    <div class="v-align">
        <h2>Box 4</h2>
    </div>
  </div>
</div>
<div class="half four">
  <div class="half" style="background: #bbb;">
    <div class="inner">
    <div class="v-align">
        <h2>Box 5</h2>
    </div>
    </div>
  </div>
  <div class="half">
    <div class="inner" style="background: #aaa;">
    <div class="v-align">
        <h2>Box 6</h2>
    </div>
    </div>
  </div>
</div>

<div class="clear"></div>
<!--
<p><a href="http://foundation.zurb.com/docs/components/grid.html">View the documentation</a></p>
-->

</body>
</html>
