/* Media object  ---------------------- */

/* Sample layout

<div class="media">
  <figure><img src="https://placehold.it/100x100/27B987/ffffff"></figure>
  <div class="media-content">
    <strong>Media Title</strong><br>
    <p>Media content</p>

    <div class="media">
      <figure><img src="https://placehold.it/100x100/27B987/ffffff"></figure>
      <div class="media-content">
        <strong>Nested media content</strong>
      </div>
    </div>
  </div>
</div>
*/

.media {
  margin: $base-padding/2 0;

  figure {
    margin-right: $base-padding/2;
    float: left;

    img {
      width: 60px;
    }
  }

  .media-content {
    overflow: hidden;
    line-height: 1.5;
  }

  small {
    color: #666;
  }
  
  textarea {
    max-width: 100%;
    min-height: 2em;
  }
}