/* -----
SVG Icons - svgicons.sparkk.fr
----- */

$color-base: #27B987;

.svg-icon {
  width: 2em;
  height: 2em;
  margin: 10px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $color-base;
}

.svg-icon circle {
  stroke: $color-base;
  stroke-width: 1;
}