/* Typography and buttons  ---------------------- */
p   { 
  line-height: 1.5;
}

/* Headers  ---------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $typeface-header;
  line-height: 1.1;
  font-weight: $strong;
  margin-bottom: $base-padding/4;
}

h4,
h6 {
  font-weight: $strong;
}

  h1 {
    font-size: $font-size-xxlarge;
    margin: $base-padding/2 0;
  }
  h2 {
    font-size: $font-size-xlarge;
    margin-top: $base-padding;
  }
  h3 {
    font-size: $font-size-large;
    color: $color-mid-grey;
    font-weight: normal;
  }
  h4 {
    font-size: $font-size-base;
    color: $color-base;
    margin-bottom: 0;
  }

  h5 {
    font-size: $font-size-base;
  }
  h6 {
    font-size: $font-size-small;
  }


/* Lists  ---------------------- */

ul li,
ol li {
  line-height: 1.45;
  padding-bottom: $base-padding/4;
}

menu, ol, ul {
  padding: 0 0 0 30px
}

@media #{$medium-up} {

  menu, ol, ul {
    padding: 0 0 0 40px
  }

}

/* Blockquote ---------------------- */

q, blockquote {
  line-height: 1.45;
  margin: $base-padding/2;
  padding: $base-padding/4;
  padding-left: $base-padding/2;
  border-left: 3px solid $color-base;
  font-size: $font-size-medium;
  color: $color-light-grey;
  
  &:before,
  &:after {
    font-family: Baskerville, Palatino, sans-serif;
    font-size: 1.2em;
  }
  
  &:before {
    content: open-quote;
  }  
  
  &:after {
    content: close-quote;
  }
}

/* Custom message ---------------------- */

.alert {
  padding: $base-padding/2;
  border: 1px solid $color-yellow;
  background-color: lighten($color-yellow, 20%);
}

.highlight {
  /*background-color: $color-yellow;*/
  background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 85%, rgba(255, 255, 255, 0))
}

/* Fancy Divider ---------------------- */

.divider {
  position: relative;
  padding-top: $base-padding/2;
}

.divider:before,
.divider:after {
  content: "\0020";
  display: block;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 50%;
}

.divider:before {
  width: 100px;
  margin-left: -50px;
  top: 0;
  height: 0;
  border-top: 1px dotted #999;
}

.divider:after {
  width: 14px;
  margin-left: -7px;
  left: 50%;
  top: -4px;
  height: 9px;
  background: $color-off-white url('../images/star.svg') no-repeat 50% 50%;
}