<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Smooth Scroll</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * { box-sizing: border-box }
    html, body { margin: 20px; padding: 0; font-family: sans-serif; }

    #anchor1, #anchor2, #anchor3 {
      height: 600px;
      margin: 0;
    }

    #anchor1 { background: #eee; }
    #anchor2 { background: #bbb; }
    #anchor3 { background: #aaa; }

    .scrolled .fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }

    #main-nav .active a {
      background: #000;
      color: #fff;
    }
  </style>
  <link rel="stylesheet" href="../../css/prism.css" type="text/css"> <!-- For code highlighting only -->
</head>

<body>


<h1>Scroll Events</h1>

<p>Fixed menu highlights the active item. Appends <code>class="scrolled"</code> to the body when scrolling starts.</p>

<ul class="fixed" id="main-nav">
  <li><a href="#anchor1">Scroll to Anchor 1</a></li>
  <li><a href="#anchor2">Scroll to Anchor 2</a></li>
  <li><a href="#anchor3">Scroll to Anchor 3</a></li>
</ul>


<h3 id="anchor1">Anchor 1</h3>
<h3 id="anchor2">Anchor 2</h3>
<h3 id="anchor3">Anchor 3</h3>

<h2>How to use</h2>
Dependency: <a href="../../js/vendors/classie.js">classie.js</a><br>
Javascript: <a href="../../js/plugins/scroll-events.js">scroll-events.js</a>

<pre class="language-markup"><code>
&lt;script src="js/vendors/classie.js"&gt;&lt;/script&gt;
&lt;script src="js/plugins/scroll-events.js"&gt;&lt;/script&gt;
&lt;style&gt;
  /*
  * Script appends class="scrolled" to the body when scrolling starts.
  * So we can fix the nav to the top of the page
  */
  .scrolled .fixed {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
  }
&lt;/style&gt;

&lt;!-- Navigation links to anchors on the same page. Give it the id="main-nav" --&gt;
&lt;ul class="fixed" id="main-nav"&gt;
  &lt;li&gt;&lt;a href="#anchor1"&gt;Scroll to Anchor 1&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#anchor2"&gt;Scroll to Anchor 2&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#anchor3"&gt;Scroll to Anchor 3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;!-- Split the page into sections --&gt;
&lt;div id="anchor1"&gt;Anchor 1&lt;/div&gt;
&lt;div id="anchor2"&gt;Anchor 2&lt;/div&gt;
&lt;div id="anchor3"&gt;Anchor 3&lt;/div&gt;
</code></pre>

<script src="../../js/vendors/classie.js"></script>
<script src="../../js/plugins/scroll-events.js"></script>

<script src="../../js/vendors/prism.js"></script>  <!-- For code highlighting only -->
</body>
</html>
