<!DOCTYPE html>
<html>
<head>
  <title>Basa Components - Social Buttons</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * { box-sizing: border-box }
    html, body { margin: 20px; padding: 0; font-family: sans-serif; }
  </style>
  <link rel="stylesheet" href="../../css/prism.css" type="text/css"> <!-- For code highlighting only -->
  <link rel="stylesheet" href="components-social-buttons.css" type="text/css">
</head>

<body>

<h1>Social Buttons</h1>

<p>
  <a href="https://www.facebook.com/sharer/sharer.php?u=http://google.com" class="social facebook"><span>Share</span><b></b></a>
  <a href="https://twitter.com/home?status=Your%20tweet%20%23awesome" class="social twitter"><span>Tweet</span><b></b></a>   
</p>  

<h2>How to use</h2>
Javascript: <a href="../../js/plugins/social-buttons.js">social-buttons.js</a><br>
SASS: <a href="../../scss/plugins/_social-buttons.scss">social-buttons.scss</a>

<pre class="language-markup"><code>
&lt;link rel="stylesheet" href="css/social-buttons.css" type="text/css"&gt;
&lt;script src="js/plugins/social-buttons.js"&gt;&lt;/script&gt; &lt;!-- Edit this script to change targetURL to your website URL --&gt;

&lt;!-- Facebook Share button --&gt;
&lt;a href="https://www.facebook.com/sharer/sharer.php?u=http://google.com" class="social facebook"&gt;
  &lt;span&gt;Share&lt;/span&gt;&lt;b&gt;&lt;/b&gt;
&lt;/a&gt;

&lt;!-- Twitter Tweet button --&gt;
&lt;a href="https://twitter.com/home?status=Your%20tweet%20%23awesome" class="social twitter"&gt;
  &lt;span&gt;Tweet&lt;/span&gt;&lt;b&gt;&lt;/b&gt;
&lt;/a&gt;   
</code></pre>

<script src="../../js/plugins/social-buttons.js"></script>

<script src="../../js/vendors/prism.js"></script>  <!-- For code highlighting only -->
</body>
</html>
